.home-container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    // margin-bottom: 1rem;

    display: grid;
    grid-template-columns: 240px 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem 1rem;
}