.btn {
    padding: 0.6rem;
    
    font-size: 1rem;
    color: var(--font-color);
    border:none;
    border-radius: 5px;
    
    background-color: inherit;
    cursor: pointer;

}

.btn-primary {
    background-color: var(--main-theme);
    color: var(--header-bg);

    &:hover{
        background-color: var(--main-theme-darker);
    }
}

.btn-lg{
    padding: 1rem;
}

.btn-info{
    background-color: var(--main-2);

    &:hover{
        background-color: var(--main-3);
    }
}

.btn-fullwidth {
    width: 100%;
}